.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 4rem 0;

  .subText {
    font-size: 1.2em;
    color: gray;
  }

  .titleText {
    font-size: 2em;
    font-weight: 600;
  }

  .projects {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: start;
    gap: 2rem;
  }

  .moreBtn {
    padding: 1rem 3rem;
    background-color: #005ecb;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.2s ease;

    &:hover {
      background-color: #005ecb;
    }
  }
}
