.container {
  box-sizing: border-box;
  width: 95%;
  max-width: 30rem;
  border: 1px solid #bdc3d4;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 100%;
    gap: 1rem;
    padding: 0;
    border: 1px solid #bdc3d4;
  }

  .button {
    flex: 1;
    padding: 0.8rem 0;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;

    @media (min-width: 768px) {
      padding: 1rem;
      font-size: 1rem;
      background-color: white;
    }

    &:hover {
      cursor: pointer;
      color: #2a52be;
      font-weight: 600;
    }

    &.active {
      color: #2a52be;
      font-weight: 800;
      background-color: white;
      border: 1px solid #2a52be;
    }
  }
}
