.container {
  width: 34rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;

  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  img {
    width: 100%;
    height: 22rem;
    border-radius: 12px;
    border: 1px solid #f0f0f0;
    object-fit: cover;
  }

  .title {
    font-size: 1.2em;
    font-weight: 700;
  }

  .description {
    font-size: 1em;
    color: gray;
  }

  .techRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;

    span {
      padding: 0.2rem 0.5rem;
      border-radius: 12px;
      color: #2a52be;
      font-weight: 500;
      background-color: #e3f2fd;
    }
  }

  .subtitle {
    margin-top: 1rem;
    font-size: 1.1em;
    font-weight: 600;
  }
}
