.container {
  margin: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    & > :nth-child(1) {
      background-color: #ff5f57;
    }
    & > :nth-child(2) {
      background-color: #febd2e;
    }
    & > :nth-child(3) {
      background-color: #27c940;
    }

    .dot {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
    }
  }

  .selectTab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .tab {
      cursor: pointer;

      &:hover {
        color: #1150af;
        font-weight: 700;
      }
    }
  }
}
