.container {
  width: 100%;
  height: 18rem;
  background-color: #f9fafc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .content {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;

    .value {
      color: gray;
      font-size: 1em;
      padding-top: 0.6rem;
    }

    .title {
      font-size: 1.2em;
      font-weight: bold;
      color: #333;
    }

    .snses {
      color: gray;
      font-size: 1em;
      padding-top: 0.6rem;
      display: flex;
      flex-direction: row;
      gap: 1.5rem;

      a {
        color: gray;

        &:hover {
          color: #2a52be;
        }
      }
    }

    .links {
      color: gray;
      font-size: 1em;
      padding-top: 0.6rem;
      display: flex;
      flex-direction: row;
      gap: 1.5rem;

      a {
        color: gray;

        &:hover {
          color: #2a52be;
        }
      }
    }
  }

  .border {
    width: 70%;
    border-top: 1px solid #ccc;
  }
}
