.container {
  padding: 2rem 0;
  width: 100%;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;

  .text {
    margin-top: 0.4rem;
    font-size: 1rem;
    color: gray;
  }

  .techStacks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
