.container {
  width: 100%;
  min-height: 28rem;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;

  @media (min-width: 768px) {
    padding: 4rem 2rem;
    gap: 2rem;
  }

  .text {
    margin-top: 0.5rem;
    font-size: 0.95rem;
    color: gray;
    text-align: center;
    word-break: keep-all;
    line-height: 1.5;

    @media (min-width: 768px) {
      font-size: 1.1rem;
    }
  }

  .techStacks {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;

      @media (min-width: 768px) {
        max-width: 80%;
      }

      @media (min-width: 1024px) {
        max-width: 900px;
      }
    }
  }
}
