.container {
  padding: 4rem 0;
  background-color: #f9fafc;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .mini {
    font-size: 1.1rem;
    font-weight: 400;
    color: gray;
  }

  .title {
    font-size: 2rem;
    font-weight: 600;
  }

  .boxesWrapper {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
}
